$brown-color: #d87d4a;
$black-one-color: #101010;
$black-two-color: #000000;
$silver-color: #f1f1f1;
$silver-light-color: #fafafa;
$white-color: #ffffff;
$brown-light-color: #fbaf85;
$black-third-color: #0e0e0e;

// Fonts
$main-ff: "Manrope", Arial, sans-serif;
